
.colorblack {
    color: #262626;
  }
  .colorblue {
    color: #566b94;
  }
  .colorgray {
    color: #a0a0a5;
  }
  .colordark {
    color: #595959;
  }
  .colorwhite {
    color: #fff;
  }
  .colorred {
    color: #ff4140;
  }
  