.hi_image {
  position: relative;

  .img {
    overflow: hidden;
    position: absolute;
  }

  .mask_normal {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.03);
  }

  .mask_deep {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.15);
  }

  &_icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
